:root {
  --black-000000: rgba(0, 0, 0, 1);
  --black-100-e5e5e5: rgba(229, 229, 229, 1);
  --black-50-f2f2f2: rgba(242, 242, 242, 1);
  --black-500-808080: rgba(128, 128, 128, 1);
  --black-600-666666: rgba(102, 102, 102, 1);
  --black-800-333333: rgba(51, 51, 51, 1);
  --black-900-1a1a1a: rgba(26, 26, 26, 1);
  --checkbox-font-family: "Inter", Helvetica;
  --checkbox-font-size: 12px;
  --checkbox-font-style: normal;
  --checkbox-font-weight: 400;
  --checkbox-letter-spacing: 0.30000001192092896px;
  --checkbox-line-height: 20px;
  --hint-placeholder-font-family: "Inter", Helvetica;
  --hint-placeholder-font-size: 11px;
  --hint-placeholder-font-style: normal;
  --hint-placeholder-font-weight: 400;
  --hint-placeholder-letter-spacing: 0.30000001192092896px;
  --hint-placeholder-line-height: 12px;
  --micro-button-label-font-family: "Roboto", Helvetica;
  --micro-button-label-font-size: 12px;
  --micro-button-label-font-style: normal;
  --micro-button-label-font-weight: 500;
  --micro-button-label-letter-spacing: 0.30000001192092896px;
  --micro-button-label-line-height: 20px;
  --placeholder-value-font-family: "Roboto", Helvetica;
  --placeholder-value-font-size: 15px;
  --placeholder-value-font-style: normal;
  --placeholder-value-font-weight: 400;
  --placeholder-value-letter-spacing: 0px;
  --placeholder-value-line-height: 20px;
  --system-blue-007aff: rgba(0, 122, 255, 1);
  --title-font-family: "Poppins", Helvetica;
  --title-font-size: 20px;
  --title-font-style: normal;
  --title-font-weight: 600;
  --title-letter-spacing: 0px;
  --title-line-height: 28px;
  --white-ffffff: rgba(255, 255, 255, 1);
}