.view-container {
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
}

.view-container button {
  color: white;
  font-size: 30px;
  background-color: #0073B7;
  cursor: pointer;
}

.view-container h2 {
  color: black;
  font-size: 24px;
  font-style: italic;
}

.main-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
}

/* new styles moved from inline */
.report-panel {
  width: 1212px;
  height: 247px;
  position: relative;
}

.report-panel__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 247px;
  background: white;
}

.report-panel__accent {
  position: absolute;
  left: 21px;
  top: 37px;
  width: 316px;
  height: 45px;
  background: #0073B7;
  cursor: pointer;
}

.report-panel__count,
.report-panel__count-2 {
  position: absolute;
  left: 354px;
  width: 188px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  word-wrap: break-word;
}

.report-panel__count {
  top: 51px;
}

.report-panel__count-2 {
  top: 185px;
}

.report-panel__title,
.report-panel__title-2 {
  position: absolute;
  width: 319.63px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  word-wrap: break-word;
}

.report-panel__title {
  left: 17.69px;
  top: 15px;
}

.report-panel__title-2 {
  left: 20px;
  top: 146px;
}

.report-panel__accent-2 {
  position: absolute;
  left: 24px;
  top: 169px;
  width: 316px;
  height: 45px;
  background: #0073B7;
  cursor: pointer;
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
  transition: text-decoration-color 0.15s ease, text-decoration-thickness 0.15s ease;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
  text-decoration-color: rgba(0, 0, 0, 0.6);
  outline: none;
}